
<div class="m-2 h-80 w-72 drop-shadow-2xl shadow-inner flex flex-col  justify-center">

  <div class="basis-3/6 flex justify-center p-2">
    <img src="assets/logo.png" class="h-40 flex-initial" alt="">
  </div>
  <div class="basis-2/6 px-2">
    <p class="font-bold text-xl text-blue-500 ">{{quiz.name}}</p>
    <p class="line-clamp-2 ">{{quiz.description}}</p></div>
  <div class="basis-1/6 m-2 flex">
    <button
      class="bg-blue-500 w-full hover:bg-transparent text-white font-semibold hover:text-blue-500 py-2 px-4 border border-transparent hover:border-blue-500 rounded"
      [routerLink]="['/quizzes',quiz.id]">
      Play Quiz
    </button>
  </div>

</div>
