<div class="m-6">
  <div class="flex my-8">
    <form class="w-full max-w-lg"

          #f="ngForm">
      <p class=" uppercase tracking-wide text-gray-700 text-xs font-bold mb-1">Question : </p>
      <p class="text-xl font-bold text-slate-800">{{questions[currentQuestion]?.question}}</p>
        <label class="block  tracking-wide text-gray-700 text-lg font-bold my-2">
          <p class=" uppercase tracking-wide text-blue-500 text-base font-bold mb-2">Choose an Answer</p>

        </label>

      <label (click)="onSubmit(choice)" *ngFor="let choice of questions[currentQuestion]?.choices" class="block  tracking-wide text-gray-700 text-lg font-bold my-2">
          <div
            class="flex items-baseline font-bold">
            <input
              class="mr-4"
              type="checkbox"
              name="choice"
              ngModel>
            <p
              class="appearance-none inline w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            > {{choice}}</p>
          </div>
      </label>
      <button
        class="bg-blue-200 text-blue-500 font-semibold py-2 px-4 mt-4 mr-4 border border-transparent  rounded"
        type="submit"
        [disabled]="!f.valid"
        (click)="onConfirm()"
      >Confirm</button>


    </form>
  </div>
</div>
