<app-header></app-header>

<div class="mx-16">
  <div class="flex flex-row ">
    <div class="basis-2/3 mx-16 my-16 flex flex-nowrap">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 m-2 fill-blue-500">
        <path d="M5.625 3.75a2.625 2.625 0 100 5.25h12.75a2.625 2.625 0 000-5.25H5.625zM3.75 11.25a.75.75 0 000 1.5h16.5a.75.75 0 000-1.5H3.75zM3 15.75a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75zM3.75 18.75a.75.75 0 000 1.5h16.5a.75.75 0 000-1.5H3.75z" />
      </svg>
      <p class="font-bold text-3xl text-blue-500 ">All Categories</p>
    </div>
    <div class="basis-1/3 flex flex-row-reverse m-16">
      <div><p class="text-l text-slate-500"> Last Update: Jan</p></div>
    </div>
  </div>

<app-quiz-card></app-quiz-card>

</div>
<app-footer></app-footer>
